header {
  display: flex;
  padding-bottom: 5px;
}
#header-name {
  color: navy;
  font-weight: bold;
  font-size: 32pt;
  text-shadow: 10px 15px 25px gray;
  text-decoration: underline;
  flex-grow: 1;
}
#theme {
  color: darkred;
  padding-right: 20px;
}

#dot {
  color: crimson;
  /*font-size: 70px;*/
}
#js {
  color: rgb(22, 199, 140);
  font-style: italic;
}
footer {
  text-align: center;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body.dark {
  background-color: brown !important ;
  color: aliceblue !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
svg.text{
    font-size: 100;
}
article {
  flex-grow: 1;
}
#editor {
  display: flex;
}
#editor > *:first-child {
  flex-grow: 1;
}
#editor > *:first-child > * {
  height: 100%;
  width: 100%;
}
#editor-form {
  width: 35%;
  text-align: center;
}
.flex-col {
  display: flex;
  /* text-align: center; */
}
.flex-col > * {
  text-align: center;
}
input[type="number"] {
  width: 100%;
}
input[type="submit"] {
  margin-right: 50px;
}
.center {
  text-align: center;
}
